<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/about.css">
    <title>About</title>
</head>
<body>
    <div class="about">
        Hey, Thanks for showing interest in us!
        We are a group of enthusiast people exploring different 
        domains of technology from rocketry to coding.
    </div>
    <div><a href="/"><button class="home-button" type="submit" value="Home">Home</button></a></div>
</body>
</html>